@font-face {
  font-family: 'Ruda';
  src: url(../Fonts/Ruda-Regular.ttf);
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Ruda';
  src: url(../Fonts/Ruda-Bold.ttf);
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Ruda';
  src: url(../Fonts/Ruda-Black.ttf);
  font-weight: 900;
  font-display: swap;
}

:root {
  --color-citrine: #c2d500;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-family: 'Ruda', sans-serif;
  font-size: 1rem;
  color: #1d222d;
  line-height: 1.3;
}

body {
  margin: 0;
  font-size: 14px;
}
h2,
.h2 {
  font-size: 18px;
  font-size: clamp(1.125rem, 0.8986rem + 1.1321vw, 1.5rem);
  font-weight: 900;
  line-height: 1;
  position: relative;
  margin-top: 16px;
  margin-bottom: 0;
}
.h2 {
  display: inline-block;
  z-index: 1;
}

.h2::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-citrine);
  height: 8px;
  width: 100%;
  width: calc(100% + 20px);
  z-index: -1;
}
img {
  max-width: 100%;
  display: block;
  vertical-align: middle;
}
svg {
  vertical-align: middle;
}
a {
  color: #1d222d;
  text-decoration: none;
}
.bold {
  font-weight: 900;
}
.text-green {
  color: #95c11f;
}
.container {
  padding: 0 10px;
  max-width: 992px;
  margin: 0 auto;
}
/* ======== Header styles ========*/
.header {
  border-top: 20px solid var(--color-citrine);
}
.header-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  padding: 26px 0;
}

.hashtag {
  font-size: 12px;
  font-size: clamp(0.625rem, 0.3986rem + 1.1321vw, 1rem);
  font-weight: 900;
  border: 1px solid #95c11f;
  display: inline-block;
  margin: 0;
  padding: 8px 12px;
  border-radius: 30px;
}

.team {
  color: white;
  font-size: 14px;
  font-size: clamp(0.75rem, 0.5145rem + 1.1774vw, 1.14rem);
  font-weight: 900;
  padding: 10px 22px;
  padding: 6px 12px;
  background-image: url('../images/team-bg.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  white-space: nowrap;
}

.team span:first-child {
  font-size: 12px;
  font-size: clamp(0.625rem, 0.4107rem + 1.0717vw, 0.98rem);
}

/* ======== Hero Section ========*/
/* -------- Navigation Style ------- */
.main-nav {
  list-style-type: none;
  padding: 22px 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
}
.main-nav a {
  font-size: 13px;
  font-size: clamp(0.6875rem, 0.6015rem + 0.4302vw, 0.83rem);
  text-decoration: none;
  text-transform: uppercase;
  background-color: #95c11f;
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 20px;
  display: inline-block;
  min-width: 140px;
  font-weight: 400;
  min-width: max-content;
}
.main-nav li:first-child a {
  margin-left: 10px;
}

.main-nav a:hover {
  color: white;
}
/* ========= Hero Content =========  */
.hero-wrapper {
  position: relative;
  overflow-x: hidden;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, 75%, rgb(240, 240, 240) 100%);
}
.about {
  margin-top: 32px;
  margin-bottom: 0;
  line-height: 1.5;
  max-width: 590px;
}
.about-quote {
  text-align: center;
  border: 1px solid #95c11f;
  padding: 12px 20px;
  border-radius: 100px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.about__headline {
  margin: 0;
  font-size: 14px;
  font-size: clamp(0.6875rem, 0.3962rem + 1.4566vw, 1.17rem);
  font-weight: 900;
}
.about__headline--content {
  font-size: 13px;
  font-size: clamp(0.625rem, 0.3503rem + 1.3736vw, 1.08rem);
  background-color: white;
  background: linear-gradient(90deg, rgb(255, 255, 255) 0%, 75%, rgb(240, 240, 240) 100%);
  position: relative;
  top: -8px;
  padding: 0 10px;
  margin-top: -12px;
  margin-bottom: 12px;
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.about p {
  font-size: 12px;
  font-size: clamp(0.5625rem, 0.2983rem + 1.3208vw, 1rem);
  margin: 0;
}
.about-content {
  padding: 14px 36px;
}
.about-content p {
  text-align: center;
  margin: 10px -10px;
}
.hr-wrapper {
  font-size: 0;
  padding: 12px 0 0;

  text-align: center;
}
.hr--blue {
  display: inline-block;
  background-color: #00478c;
  width: 28px;
  height: 2.5px;
}
.hr--red {
  display: inline-block;
  background-color: #e52631;
  width: 32px;
  height: 2.5px;
}
/* =========== Info ==========  */
.info {
  z-index: 1;
  position: relative;
  padding: 0 10px;
  padding-bottom: 16px;
}
.info-content {
  max-width: 510px;
}

.info p {
  font-size: 10px;
  font-size: clamp(0.625rem, 0.5012rem + 0.6189vw, 0.83rem);
  line-height: 1.7;
}
.hero-image {
  position: relative;
  max-width: 625px;
}

/* ============ video section =============  */
.equality {
  position: relative;
  margin-top: -10px;
  margin-bottom: -10px;
}
.equality::after {
  content: '';
  background-color: #c1d400;
  position: absolute;
  display: block;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  z-index: -1;
}
.equality-content {
  text-align: center;
}
.equality h2 {
  font-size: 18px;
  font-weight: 900;
  line-height: 1.2;
  position: relative;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  padding: 42px 0;
}
.equality h2 span {
  position: relative;
  z-index: 1;
}
.equality .h2 {
  margin-top: 0;
  line-height: 1.4;
}
.equality .h2::before {
  background: white;
}
.video-container {
  position: relative;
}
.video-container iframe {
  border-radius: 6px;
}
video {
  border-radius: 5px;
}

/* ==============  Processes ==========  */

.process {
  background-color: #eee;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  padding: 20px 0 0;
}
.process__heading {
  text-align: center;
}
.process-cards {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 30px 0 0;
}
.process-card {
  display: flex;
  background-color: white;
  padding-right: 12px;
  padding-bottom: 12px;
  border-top-right-radius: 66px;
  max-width: 700px;
  margin-bottom: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  z-index: 1;
}
.process-card__header {
  font-size: clamp(0.625rem, 0.3986rem + 1.1321vw, 1rem);
  padding: 10px 20px;
  font-weight: 900;
  color: white;
  max-width: 340px;
  background-color: #ff5064;
  border-bottom-right-radius: 25px;
}
.process-card__body {
  padding-left: 20px;
  max-width: 350px;
}
.process-card__body p {
  font-size: 10px;
  font-size: clamp(0.625rem, 0.5118rem + 0.566vw, 0.8125rem);
}
.process-card__body::before {
  content: '';
  display: block;
  height: 3px;
  border-radius: 2px;
  width: 40px;
  background-color: #ff5064;
  margin: 18px 0 16px;
}
.process-card__btn {
  padding-left: 20px;
}

.process-card__btn a {
  font-size: clamp(0.4375rem, 0.362rem + 0.3774vw, 0.5625rem);
  border: 2px solid #ff5064;
  padding: 0.7em;
  line-height: 1;
  display: inline-block;
  border-radius: 20px;
}
.process-card__image {
  border-radius: 200px;
  border-bottom-right-radius: 0;
  margin-top: 12px;
  object-fit: cover;
}

.process-card--green .process-card__header {
  background-color: #93c01f;
}
.process-card--green .process-card__body::before {
  background-color: #93c01f;
}
.process-card--green .process-card__btn a {
  border-color: #93c01f;
}

.process-card--yellow .process-card__header {
  background-color: #f39200;
}
.process-card--yellow .process-card__body::before {
  background-color: #f39200;
}
.process-card--yellow .process-card__btn a {
  border-color: #f39200;
}
.process-image img {
  margin-left: auto;
  margin-right: auto;
}

/* ==========  Dimensions ============  */

.dimensions {
  text-align: center;
  padding: 22px 0;
  overflow: auto;
  padding-bottom: 0;
}

.circle-container {
  position: relative;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  padding: 0;
  list-style: none;
  margin: 4em auto 4em;
  border: solid 2px black;
}
.circle-container::before {
  display: flex;
  content: '';
  width: 2.5em;
  height: 100%;
  background-image: url('../images/SVG/icon-f.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: 0 auto;
}
.circle-container > * {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px;
  width: 40px;
  height: 40px;
}

.circle-container > *:nth-of-type(1) {
  transform: rotate(67.5deg) translate(-6em) rotate(-67.5deg);
}
.circle-container > *:nth-of-type(2) {
  transform: rotate(112.5deg) translate(-6em) rotate(-112.5deg);
}
.circle-container > *:nth-of-type(3) {
  transform: rotate(157.5deg) translate(-6em) rotate(-157.5deg);
}
.circle-container > *:nth-of-type(4) {
  transform: rotate(202.5deg) translate(-6em) rotate(-202.5deg);
}
.circle-container > *:nth-of-type(5) {
  transform: rotate(247.5deg) translate(-6em) rotate(-247.5deg);
}
.circle-container > *:nth-of-type(6) {
  transform: rotate(292.5deg) translate(-6em) rotate(-292.5deg);
}
.circle-container > *:nth-of-type(7) {
  transform: rotate(337.5deg) translate(-6em) rotate(-337.5deg);
}
.circle-container > *:nth-of-type(8) {
  transform: rotate(382.5deg) translate(-6em) rotate(-382.5deg);
}

.circle-container img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
  outline: 3px solid white;
}

.circle-container li {
  display: flex;
  align-items: center;
}

.circle-container p {
  position: absolute;
  min-width: max-content;
  font-size: 4px;
  font-size: clamp(0.4375rem, 0.3243rem + 0.566vw, 0.625rem);
  font-size: clamp(0.5rem, 0.3491rem + 0.7547vw, 0.75rem);
  font-size: clamp(0.375rem, 0.1486rem + 1.1321vw, 0.75rem);
}
.mt-2 {
  margin-top: 32px;
}
.mb-2 {
  margin-bottom: 2rem;
}

.circle-container p.left {
  right: 105%;
  right: calc(100% + 6px);
  text-align: right;
}
.circle-container p.right {
  left: 105%;
  left: calc(100% + 4px);
  text-align: left;
}
.dim__btn {
  font-weight: bold;
  padding: 4px 24px;
  padding: 0.3333em 2em;
  border: 1px solid #78be00;
  color: #78be00;
  border-radius: 20px;
  display: inline-block;
  margin-top: 3px;
  user-select: none;
}
.dim__btn--pink {
  color: #ff6e6e;
  border-color: #ff6e6e;
}
.dim__btn--magenta {
  color: #be82be;
  border-color: #be82be;
}
.dim__btn--blue {
  color: #64c8f0;
  border-color: #64c8f0;
}
.dim__btn--orange {
  color: #f39200;
  border-color: #f39200;
}
.dim__btn--green {
  color: #c0d000;
  border-color: #c0d000;
}
.dim__btn--teal {
  color: #00a19a;
  border-color: #00a19a;
}
.dim__btn--bluish {
  color: #2382af;
  border-color: #2382af;
}
/* ============= Single Dimension ========== */
.dimension {
  text-align: left;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: opacity 1s ease;
}

.dimension::before {
  content: '';
  display: block;
  border-top: 20px solid;
}
.dimension.active {
  opacity: 1;
  transition-duration: 0;
}
.dimension-wrapper {
  display: flex;
}
/* .dimension-media,
.dimension-content {
  flex: 1;
} */
.dimension-content {
  flex-basis: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.dimension--1::before {
  border-color: #ff6e6e;
}
.dimension--2::before {
  border-color: #be82be;
}
.dimension--3::before {
  border-color: #64c8f0;
}
.dimension--4::before {
  border-color: #f39200;
}
.dimension--5::before {
  border-color: #c0d000;
}
.dimension--6::before {
  border-color: #00a19a;
}
.dimension--7::before {
  border-color: #2382af;
}
.dimension--8::before {
  border-color: #78be00;
}
.dimension__name {
  font-size: clamp(0.75rem, 0.5938rem + 0.5vw, 1rem);

  font-weight: bold;
}
.dimension__title {
  font-size: clamp(1rem, 0.2188rem + 2.5vw, 2.25rem);
  margin-bottom: 0.85em;
  margin-top: 4px;
  white-space: nowrap;
  max-width: 20ch;
  line-height: 1.4;
  font-weight: bold;
  letter-spacing: -1px;
}

.dimension__name {
  color: #ff6e6e;
  font-weight: bold;
}
.dimension--2 .dimension__name {
  color: #be82be;
}
.dimension--3 .dimension__name {
  color: #64c8f0;
}
.dimension--4 .dimension__name {
  color: #f39200;
}
.dimension--5 .dimension__name {
  color: #c0d000;
}
.dimension--6 .dimension__name {
  color: #00a19a;
}
.dimension--7 .dimension__name {
  color: #2382af;
}
.dimension--8 .dimension__name {
  color: #78be00;
}
.bdrline {
  position: relative;
}
.bdrline::after {
  content: '';
  position: absolute;
  bottom: 0.12em;
  height: 0.37em;
  left: -0.25em;
  right: -20px;
  right: -0.5em;
  background-color: #ff6e6e;
  z-index: -1;
}
.dimension--2 .bdrline::after {
  background-color: #be82be;
}
.dimension--3 .bdrline::after {
  background-color: #64c8f0;
}
.dimension--4 .bdrline::after {
  background-color: #f39200;
}
.dimension--5 .bdrline::after {
  background-color: #c0d000;
}
.dimension--6 .bdrline::after {
  background-color: #00a19a;
}
.dimension--7 .bdrline::after {
  background-color: #2382af;
}
.dimension--8 .bdrline::after {
  background-color: #78be00;
}
.dim__icon {
  position: absolute;
  right: -64px;
  bottom: -4px;
}
.dim__icon {
  width: 1.75em;
  width: 1.6em;
  right: -1em;
  right: -1.85em;
}
.dimension__text {
  font-size: clamp(0.625rem, 0.3906rem + 0.75vw, 1rem);
  max-width: 52ch;
}
.dimension__rep {
  margin-top: 20px;
  font-size: clamp(0.625rem, 0.3906rem + 0.75vw, 1rem);
}

.dimension-media {
  flex-basis: 35%;
  flex-basis: 45%;
  flex-basis: 300px;
  flex: 1;
  margin: 0 auto;
  text-align: center;
  margin-top: 42px;
  margin-top: 34px;
}
.dimension-media img {
  border-radius: 0 50% 50% 50%;
}
.dim-list {
  list-style: none;
  padding-left: 1.5em;
}
.dim-list li {
  position: relative;
  font-weight: 900;
  font-size: clamp(0.625rem, 0.3906rem + 0.75vw, 1rem);
}
.dim-list li::before {
  content: '>';
  position: absolute;
  left: -1.5em;
  top: -0.05em;
}
.dimension-quote {
  box-shadow: rgba(150, 150, 150, 0.3) 0px -5px 10px;
  text-align: center;
  padding: 32px 0;
}
.quote__text {
  font-size: clamp(0.875rem, 0.4063rem + 1.5vw, 1.25rem);
  position: relative;
  padding: 0 1em;
  margin: 1em;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.quote__text::before,
.quote__text::after {
  content: '';
  background-image: url(../images/open-quote-green.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 2em;
  height: 2em;
  display: block;
  position: absolute;
  top: -1em;
  left: -1em;
}
.quote__text::after {
  background-image: url('../images/quote-2.png');
  bottom: -1em;
  right: -1em;
  top: unset;
  left: unset;
}

.quote__author {
  font-size: clamp(0.625rem, 0.3125rem + 1vw, 0.875rem);
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 3em;
  line-height: 1.4;
}

/* == Dimension banner == */

.dim-banner {
  background-color: #ededed;
}

.dim-banner-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  margin-top: 20px;
}
.dim-banner-content {
  max-width: 45ch;
  font-size: clamp(0.625rem, 0.1563rem + 1.5vw, 1rem);
}
.dim-banner-content p {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.6);
}

.dim-banner-image img {
  border-radius: 22px;
  margin-left: auto;
  margin-right: auto;
}
.dim-banner-wrapper > div {
  flex-basis: 50%;
}

.banner__quotes {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin: 6px 0;
  margin-left: 1em;
}

.dim-banner-reviewer::before {
  content: '';
  display: block;
  position: relative;
  top: -7px;
  border-top: 1px solid #95c11f;
}
.dim-banner-reviewer {
  color: black;
  display: inline-block;
}
.dim-banner__name {
  font-weight: 900;
  line-height: 2;
}

/* ========== Dimension Diagram Banner ======== */
.dim-banner-diagram {
  background-color: #c1d400;
  padding: 30px 0;
  text-align: center;
}
.banner-diagram-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}

.diag__tagline {
  font-size: clamp(0.875rem, 0.5625rem + 1vw, 1.125rem);
  font-size: clamp(1rem, 0.375rem + 2vw, 1.5rem);
  margin-bottom: 0.5em;
}
.diag__headline {
  font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
  font-weight: bold;
  margin: 0;
}
.diag__btn {
  display: inline-block;
  color: #95c11f;
  font-weight: bold;
  background-color: white;
  padding: 0.5em 1.2em;
  border-radius: 2em;
  white-space: nowrap;
  margin-top: 0.5em;
}
.diagram {
  text-align: center;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.5s ease;
}
.diagram .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
.diagram.active {
  max-height: initial;
  opacity: 1;
}
.diagram-wrapper {
  overflow: auto;
}
.diagram img {
  min-width: 800px;
}
/* ============= Summary section ========== */
.summary {
  padding: 40px 0;
  border-top: 10px solid #c2d500;
}

.summary-cards {
  display: flex;
  justify-content: center;
}
.summary-card {
  display: flex;
  background-color: #95c11f;
  border-radius: 10px;
  flex: 1;
  background-image: url('../images/summary.jpeg');
  background-position: right top;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 350px;
}
.summary-card--policy {
  background-image: url('../images/policies.jpeg');
  margin-left: 10px;
}
.summary-card > div {
  flex-shrink: 0;
}
.summary-content {
  padding-left: 22px;
  display: flex;
  align-items: center;
}
.summary-content h2 {
  margin-top: 0;
  padding: 50px 0;
}
.summary-content .h2 {
  line-height: 1.1;
  margin-top: 0;
}
.summary-content .h2::before {
  background: white;
}
.summary__image img {
  border-radius: 0 10px 10px 0;
}

/* ============== Footer ========== */
footer .container {
  border-top: 2px solid #c2d500;
}

.footer-navbar-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.footer-nav-links {
  background-color: var(--color-citrine);
  width: 100%;
  width: calc(100% + 20px);
  text-align: center;

  padding-top: 22px;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 12px;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  margin-bottom: 26px;
}
.footer-nav-logo {
  flex-shrink: 0;
  margin-right: 40px;

  margin: 36px 0 20px;
}
.footer-nav__heading {
  margin-bottom: 12px;
}
.footer-nav li {
  margin-bottom: 10px;
}
.footer-nav a {
  padding-left: 10px;
  padding-right: 15px;
  text-decoration: none;
  color: white;
  padding: 0;
}
.footer-nav li:first-child a {
  padding-left: 0;
}
.footer-nav li:first-child::marker {
  color: white;
}
.footer-nav li::marker {
  margin: 0;
}
.footer-note {
  margin: 0;
  text-align: center;
  font-size: 12px;
  background-color: white;
  padding: 16px 0;
}
.heart-icon {
  color: #95c11f;
}

/* ========Responsive ========*/

@media (max-width: 425px) {
  .team {
    transform: scale(0.8);
    transform-origin: center;
    margin-right: -16px;
    margin-left: -16px;
  }
  .circle-container {
    transform: scale(1);
  }
}

@media (min-width: 768px) {
  .hashtag {
    padding: 10px 16px;
  }
  .team {
    padding: 12px 24px;
  }
  .main-nav {
    justify-content: space-evenly;
    justify-content: center;
    margin-right: 0;
    max-width: 1092px;
    margin-left: auto;
    margin-right: auto;
  }
  .main-nav a {
    padding: 8px 16px;
    margin-right: 16px;
  }
  .main-nav li:first-child a {
    margin-left: 16px;
  }

  .about__headline--content {
    padding: 0 20px;
    background: linear-gradient(90deg, rgb(251, 251, 251) 0%, 100%, rgb(240, 240, 240) 100%);
  }
  .hero {
    display: flex;
  }
  .hero > div {
    flex-shrink: 0;
  }
  .about {
    position: relative;
    left: 6%;
  }
  .about-quote {
    padding: 14px 36px;
  }
  .about-content p {
    margin: 30px -10px 30px;
  }
  .info {
    padding-bottom: 0;
  }
  /* ============= video section ============= */
  .equality-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 60px;
    position: relative;
    z-index: 2;
  }
  /* ============= Process section ============ */
  .process {
    background-image: url(../images/portrait-2.jpeg);
  }
  .process-card {
    border-top-right-radius: 90px;
  }
  .process-image {
    display: none;
  }
  /* ============== Dimensions section ========== */
  .circle-container {
    margin: 7em auto 7em;
    width: 28em;
    height: 28em;
  }
  .circle-container > * {
    margin: -45px;
    width: 90px;
    height: 90px;
  }

  .circle-container > *:nth-of-type(1) {
    transform: rotate(67.5deg) translate(-14em) rotate(-67.5deg);
  }
  .circle-container > *:nth-of-type(2) {
    transform: rotate(112.5deg) translate(-14em) rotate(-112.5deg);
  }
  .circle-container > *:nth-of-type(3) {
    transform: rotate(157.5deg) translate(-14em) rotate(-157.5deg);
  }
  .circle-container > *:nth-of-type(4) {
    transform: rotate(202.5deg) translate(-14em) rotate(-202.5deg);
  }
  .circle-container > *:nth-of-type(5) {
    transform: rotate(247.5deg) translate(-14em) rotate(-247.5deg);
  }
  .circle-container > *:nth-of-type(6) {
    transform: rotate(292.5deg) translate(-14em) rotate(-292.5deg);
  }
  .circle-container > *:nth-of-type(7) {
    transform: rotate(337.5deg) translate(-14em) rotate(-337.5deg);
  }
  .circle-container > *:nth-of-type(8) {
    transform: rotate(382.5deg) translate(-14em) rotate(-382.5deg);
  }

  .circle-container img {
    outline: 6px solid white;
  }

  .circle-container p.left {
    right: 105%;
    right: calc(100% + 30px);
  }
  .circle-container p.right {
    left: 105%;
    left: calc(100% + 30px);
  }
  .circle-container::before {
    width: 6em;
  }

  /* ==== Dimension ==== */
  .dim-banner-wrapper {
    flex-direction: row;
  }
  .dimension-quote {
    padding: 60px 0;
  }
  .dimension-media {
    margin-top: 65px;
  }
  /* ========== Dimension Diagram Banner ======== */
  .banner-diagram-wrapper {
    text-align: left;
  }
  .banner-diagram-wrapper > div {
    flex-basis: 45%;
  }

  /* =============== Summary section =========== */
  .summary {
    padding: 50px 0;
  }
  .summary-card > div {
    flex-basis: 50%;
    background-color: #95c11f;
  }
  .summary-card--policy {
    margin-left: 70px;
  }
  .summary-content {
    flex-basis: 50%;
    border-radius: 10px 0 0 10px;
  }
  /* ============= Footer ============= */
  .footer-navbar-wrapper {
    flex-direction: row;
    padding: 36px 0 36px;
  }
  .footer-nav-links {
    background-color: white;
    width: auto;
    text-align: left;
    padding-top: 0;
  }

  .footer-nav {
    margin-bottom: 18px;
    flex-direction: row;
  }
  .footer-nav-logo {
    margin: 0;
    margin-right: 16px;
  }
  .footer-nav__heading {
    margin-bottom: 4px;
    margin-top: 18px;
  }
  .footer-nav li {
    list-style-type: '•';
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 16px;
  }
  .footer-nav li:first-child {
    padding-left: 0;
  }
  .footer-nav a {
    color: inherit;
  }

  .heart-icon {
    color: white;
  }
  .footer-note {
    background-color: #95c11f;
  }
}

/* =============== Desktop responsive ============= */
@media (min-width: 1092px) {
  .hero-wrapper::before {
    content: '';
    display: block;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -175px;
    background-color: #75bc20;
    border-radius: 50% 0;
  }
  .process {
    position: relative;
  }
  .process::after {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    left: -100px;
    background-color: #ff5064;
    mix-blend-mode: multiply;
    border-radius: 50%;
    bottom: -200px;
  }
  .process-wrapper {
    position: relative;
    overflow: hidden;
  }
  .process-wrapper::after {
    content: '';
    position: absolute;
    top: 40px;
    right: -30px;
    width: 220px;
    height: 220px;
    background-color: #fcbf12;
    border-radius: 50%;
    border-top-left-radius: 0;
  }
}
